@layer theme {
  :root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #222222;
    --color-red-500: #DF4646;

    /* Gray */
    --color-gray-100: #F9F9FB;
    --color-gray-200: #F3F5F7;
    --color-gray-300: #EFF1F3;
    --color-gray-400: #E5E6E9;
    --color-gray-500: #CED0D7;
    --color-gray-600: #B3B4BD;
    --color-gray-700: #81828D;
    --color-gray-800: #54555E;
    --color-gray-900: #2F2E32;
    --color-gray-950: #1C1C1E;

    /* Blue */
    --color-blue-100: #EEF7FF;
    --color-blue-200: #E8F5FF;
    --color-blue-300: #DBEEFF;
    --color-blue-400: #8BC9FE;
    --color-blue-500: #6BBBFF;
    --color-blue-600: #319EFF;

    /* Font */
    --font-family: 'Pretendard', 'sans-serif';

    /* Font Sizes */
    --font-size-head-1: 24px;
    --font-size-head-2: 22px;
    --font-size-head-3: 20px;
    --font-size-head-4: 18px;
    --font-size-body-1: 16px;
    --font-size-body-2: 14px;
    --font-size-caption-1: 12px;
    --font-size-caption-2: 11px;

    /* Font Weights */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* Line Heights */
    --line-height-140: 1.4;
    --line-height-150: 1.5;

    /* Letter Spacing */
    --letter-spacing-minus-2: -0.02em;

    /* Gradient */
    --gradient-radial: radial-gradient(90.86% 110.91% at 23.75% -3.12%, #9BAAFF 0%, #C0CFFF 71.53%, #DEF4FF 100%);
    --gradient-linear: linear-gradient(180deg, #C9D4FF 0%, #797F99 100%);
  }
}